---
layout: default
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Film Composing</h2>
<div class="portfolio-container">
  {% for post in site.portfolio %}
    {% if post.category == "Film Composing" %}
  {% include archive-single.html %}
  {% endfor %}
</div>

<h2>Game Composing</h2>
<div class="portfolio-container">
  {% for post in site.portfolio %}
    {% if post.category == "Game Composing" %}
     {% include archive-single.html %}
  {% endfor %}
</div>

<h2>Music Performance</h2>
<div class="portfolio-container">
  {% for post in site.portfolio %}
    {% if post.category == "Music Performance" %}
       {% include archive-single.html %}
      </div>
    {% endif %}
  {% endfor %}
</div>
